.headerImg {
    width: 100%;
}

.content-title {
    font-size: 39px;
    font-weight: 700;
    text-align: center;
    padding: 40px 0;
}

.pain_box {
    width: 1200px;
    height: 320px;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.pain_box ul {
    display: flex;
    padding-top: 40px;
    width: 1200px;
    flex-wrap: wrap;
}

.pain_box ul li {
    display: flex;
    width: 360px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.pain-left img {
    width: 78px;
    height: 78px;
}

.pain_right {
    width: 260px;
    height: 100px;
    margin-left: 20px;
}

.pain_title {
    font-size: 22px;
    font-weight: 800;
}

.pain_cont {
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
}