@media screen and (max-width:1920px) {
    body {
        width: 1920px
    }
}

body {
    min-width: 320px;
    max-width: 1920px;
    width: 10rem;
}


/* 头部 */

header {
    position: relative;
    width: 10rem;
    height: 2.9167rem;
}

header a {
    display: inline-block
}

.headerImg {
    width: 10rem;
}

.logoImg {
    position: absolute;
    left: .0521rem;
    top: .0521rem;
    width: 1.6667rem;
}


/* 主体标题 */

.content-title {
    text-align: center;
    vertical-align: middle;
    padding: .2083rem 0;
}

.content-title h1 {
    font-size: .2031rem;
    font-weight: 700;
}

.content-title h5 {
    display: inline;
    margin-top: .026rem;
    letter-spacing: .0104rem;
    font-size: .0938rem;
    font-weight: 400;
    color: #636363;
}

.content-title span {
    font-size: .2031rem;
    color: #0189ff;
}

.content-title h3 {
    margin-top: 5px;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 700;
}


/* 企业痛点 */

.pain_box {
    width: 6.25rem;
    height: 1.6667rem;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-radius: .026rem;
}

.pain_box ul {
    display: flex;
    justify-content: space-around;
    padding-top: .2083rem;
    width: 6.25rem;
    flex-wrap: wrap;
}

.pain_box ul li {
    display: flex;
    width: 1.8229rem;
    margin-left: .1042rem;
    margin-right: .1042rem;
    margin-bottom: .2083rem;
    margin-top: .0521rem;
}

.pain-left img {
    width: .4063rem;
    height: .4063rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.pain-left img:hover {
    transform: translateY(-0.0521rem);
}

.pain_right {
    width: 1.3542rem;
    height: .5208rem;
    margin-left: .1042rem;
}

@media screen and (max-width:750px) {}

* {
    font-size: 100%;
}

span {
    font-size: 0.5em;
}

.pain_title {
    display: inline-block;
    font-size: .1146rem;
    font-weight: 800;
}

.pain_cont {
    display: inline-block;
    font-size: .0833rem;
    line-height: .1354rem;
    font-weight: 300;
}


/* 产品介绍 */

.content {
    width: 100%;
    height: 3.4115rem;
    background-color: #f6f8f9;
}

.nav {
    width: 5.5208rem;
    height: .3125rem;
    margin: 0 auto;
    /* background-color: pink; */
}

.nav ul {
    display: flex;
    justify-content: center;
}

.nav ul li {
    width: 1.3021rem;
    height: .3125rem;
    text-align: center;
    font-size: .1042rem;
    font-weight: 700;
    line-height: .3125rem;
    cursor: pointer;
    background-color: #f6f8f9;
}

.nav ul li:hover {
    background-color: #0089ff;
    font-weight: 700;
    color: #fff;
    border-radius: .1563rem;
}

.nav-content {
    margin-top: .2083rem;
    /* height: 3.125rem; */
}

.nav-content ul {
    width: 6.25rem;
    height: .2083rem;
    margin: 0 auto;
}

.nav-content ul li {
    display: none;
    width: 7.2917rem;
    cursor: pointer;
}

.nav-content ul li:first-child {
    display: block;
    width: 7.2917rem;
}

.con-left {
    position: relative;
    float: left;
}

.con-left img {
    width: 3.2292rem;
    height: 2.0833rem;
}

.con-left i {
    position: absolute;
    left: 1.4219rem;
    top: .8281rem;
    font-size: .3958rem;
    opacity: .7;
}

.con-right {
    float: left;
    margin-left: .2083rem;
}

.con-right img {
    width: 3.0052rem;
    height: 2.0938rem;
}


/* 解决方案 */

.solution {
    width: 6.25rem;
    margin: 0 auto;
}

.solution .content-title {
    padding: .1042rem 0
}

.solution_img {
    position: relative;
    overflow: hidden;
    border-radius: .0521rem;
}

.solution_img img {
    width: 2.0104rem;
    height: 1.6667rem;
    border-radius: .0521rem;
    transition: all 0.2s;
}

.solution_img img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.solution_title {
    position: absolute;
    bottom: 0;
    width: 2.0104rem;
    height: .3125rem;
    line-height: .3125rem;
    font-size: .1146rem;
    font-weight: 700;
    text-align: left;
    background-color: rgba(255, 255, 255, .7);
}

.solution_cont {
    width: 2.0104rem;
    height: .3125rem;
    line-height: .1563rem;
    font-size: .0938rem;
    font-weight: 400;
    color: #333333;
}

.swiper {
    width: 6.25rem;
    height: 2.3438rem;
    /* background-color: pink; */
}

.programme img {
    cursor: pointer;
    width: 100%;
}


/* 客户案例 */

.case-content {
    width: 6.25rem;
    margin: 0 auto;
}

.case-content ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.case-content ul li {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 2.0104rem;
    height: 1.1302rem;
    margin-right: .0781rem;
    margin-top: .0781rem;
    border-radius: .0521rem;
}

.case-content ul li:nth-child(3n) {
    margin-right: 0;
}

.case-content li img:first-child {
    width: 2.0104rem;
    height: 1.1302rem;
    border-radius: .0521rem;
    cursor: pointer;
    transition: all 0.2s;
}

.case-content li img:first-child:hover {
    transform: scale(1.1);
}

.play {
    position: absolute;
    left: .875rem;
    top: .4792rem;
    width: .2604rem;
    height: .2604rem;
    opacity: .7;
}


/* 专业版定制 */

.reserve {
    width: 6.25rem;
    height: .9375rem;
    border-radius: .0521rem;
    padding-top: .2083rem;
    margin: 0 auto;
    cursor: pointer;
}

.reserve img {
    width: 100%;
}


/* 尾部 */

footer {
    width: 6.25rem;
    margin: 0 auto;
}

.keji img {
    cursor: pointer;
    width: 100%;
}


/* 公司介绍 */

.introduce {
    display: flex;
    justify-content: space-between;
    margin-top: .2083rem;
}

.introduce p {
    width: 2.9479rem;
    font-size: .0833rem;
    line-height: .1667rem;
}

.introduce p span {
    color: red;
    font-weight: 700;
}

.introduce p em {
    font-weight: 700;
}

.join img {
    width: 6.25rem;
    cursor: pointer;
}

.contact {
    display: flex;
    margin-top: .2083rem;
    justify-content: space-between;
}

.contact p {
    font-size: .0833rem;
    line-height: .2083rem;
}

.contact span {
    color: red;
    text-decoration: underline;
}


/* 商标 */

.copyright {
    margin-top: 40px;
    background-color: #2e3a59;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #fff;
}


/* 侧边栏 */

.Map-left {
    display: none;
    position: fixed;
    top: 200px;
    left: 0;
    width: 200px;
    height: 444px;
    background: url(../images/mapleft2.png) no-repeat;
    z-index: 2;
}

.Map-left h1 {
    position: absolute;
    top: 210px;
    left: 16px;
    text-align: center;
    padding: 10px 0;
    width: 170px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.Map-left h2 {
    position: absolute;
    top: 260px;
    left: 16px;
    text-align: center;
    padding: 10px 0;
    width: 170px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.Map-left h3 {
    position: absolute;
    top: 310px;
    left: 16px;
    text-align: center;
    padding: 10px 0;
    width: 170px;
    font-size: 16px;
    font-weight: 700;
}

.Map-left h4 {
    position: absolute;
    top: 393px;
    left: 16px;
    text-align: center;
    padding: 10px 0;
    width: 170px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}

.Map-left h1:hover,
h2:hover,
h3:hover {
    cursor: pointer;
    color: #0089ff;
}

.Map-right {
    display: none;
    position: fixed;
    top: 150px;
    right: 5px;
    width: 80px;
    height: 245px;
    z-index: 2;
}

.Map-right p {
    margin-bottom: 2px;
    cursor: pointer;
}

.wechat {
    position: relative;
    width: 80px;
    height: 80px;
}

.wechat a {
    display: block;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.wechat a:hover img {
    transform: translateX(-80px);
}

.wechatimg {
    position: absolute;
    display: none;
    top: 0;
    left: -250px;
    width: 240px;
    height: 244px;
    text-align: center;
    line-height: 210px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: -2px -2px 10px #333333;
}

.wechatimg img {
    position: relative;
    /* display: none; */
    width: 180px;
    height: 180px;
}

.wechatimg h1 {
    margin-top: -10px;
    height: 20px;
    line-height: 20px;
    font-size: 17px;
    color: #ccc;
}

.wechatimg i {
    position: absolute;
    top: -60px;
    right: -8px;
    font-size: 10px;
    color: #ffffff;
}

.Map-right p:last-child {
    line-height: 80px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #0093ff;
}

.contact-phone {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.contact-phone a:hover img {
    transform: translateX(-80px);
}

.phone {
    position: absolute;
    display: none;
    width: 221px;
    height: 80px;
    top: 82px;
    right: 84px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: -2px -2px 10px #333333;
}

.phone span {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    margin: 20px 10px;
    text-align: center;
    background-color: #ffffff;
}

.phone span img {
    width: 30px;
    height: 30px;
}

.phone h1 {
    position: relative;
    font-size: 16px;
    padding: 20px 10px;
}

.phone h1 em {
    color: red;
    font-size: 18px;
    font-weight: 700;
}


/* 三角形 */

.phone i {
    position: absolute;
    top: 34px;
    right: -8px;
    font-size: 5px;
    color: #ffffff;
}

.layui-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}